.DS_Store
.snakemake/
.ipynb_checkpoints/
__pycache__/
data/*/training_data
data/*/training_data_tsf
data/*/*.tar.bz2
data/test_set/*
extracted_features/

__pycache__
.ipynb_checkpoints/
__pycache__/
src/__pycache__/
*.h5
config.json

notebook_*.out
dask-worker-space
